$defaultColor : #ccc;
$accentColor: #f50;
$secondColor: #666;
$lightColor: #f6f6f6;
$sectionBorder: 1px solid #ccc;
$lightBorder: 1px solid #dee2e6;
$darkBg: #353535;
$lightBg: #eee;

$mainBg: #a6c986;
$subBg: #dfc180;