@use 'color';
@use 'dim';
ol, ul, li, p, div, h1, h2, h3, h4, h5, h6, header, section, article, aside, footer {list-style: none; margin: 0; padding: 0;}

@mixin flex($hori, $vert) {
	display: flex;
	justify-content: $hori;
	align-items: $vert;
	flex-wrap: wrap;
}

%defFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

html,body {
	color: darken(color.$defaultColor, 40%);
}
small {
	color: color.$secondColor;
}
.act {
	color: color.$accentColor;
}
a {
	@extend small;
	&:hover {
		@extend a;
	 }
}

.slide-wrapper {
	.stage {
		overflow: hidden;
		.slide-wrap {
			position: relative;
			display: flex;
			.slide {
				flex: 25% 0 0;
			}
		}
	}
}

%flex-wrap {
	@include flex(flex-start, flex-start);
}

.flex-wrap2 { 
	@extend %defFlex;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	background-color: color.$darkBg;
	color: color.$lightColor;
	.logo {
		padding: 0.75em 1em;
	}
	.navi-wrap {
		display: flex;
		.navi {
			color: color.$lightColor;
			padding: 0.75em 1em;
		}
	}
}
.titlebar {
	margin: 1em auto;
}

.view-wrapper {
	@extend %flex-wrap;
	font-size: 1.25em;
	margin: dim.$sectionMargin;
	border: color.$sectionBorder;
	.img-wrap {
		flex: 40% 0 0;
		padding-right: 2rem;
		img { 
			width: 100%;
		}
	}
	.content-wrap {
		flex: 55% 0 0;
		.list {
			display: flex;
			border-bottom: color.$sectionBorder;
		}
		.title {
			flex: 20% 0 0;
			font-weight: bold;
			padding: 1em;
		}
		.content {
			flex: 80% 0 0;
			padding: 1em;
		}
	}
	.detail-wrap {
		flex: 100% 0 0;
		margin-top: 1rem;
		padding: 2rem;
		border-top: color.$sectionBorder;
	}
}

.send-wrapper {
	
	.list {
		display: flex;
		padding: 0.5em 0;
		margin: 0.5em 0;
		border-bottom: color.$lightBorder;
		.title {
			flex: 18% 0 0;
			margin-right: 2%;
			padding: 1%;
			font-weight: bold;
			background-color: color.$lightBg;
		}
		.content {
			flex: 80% 0 0;
			padding: 0.5em;
		}
	}
}