doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title PUG TEST
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/index.css")
	body
		.wrapper.container
			.title.jumbotron
				h1 PUG TITLE 
				small content
			