html, body {
  font-family: sans-serif;
}

.header {
  position: relative;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #a6c986;
}
.header .logo {
  flex: 100% 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}
.header .navi {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .navi i {
  font-size: 1.2em;
}

.test-wrap {
  height: 20vh;
  line-height: 10;
  text-align: center;
  background-color: #dfc180;
}

.cont-wrap {
  width: 80%;
  height: 70vh;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  background-color: #f4e9d1;
}