.flex-wrap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

html, body {
  color: #ccc;
}

.act {
  color: #f50;
}

.slide-wrapper .stage {
  overflow: hidden;
}
.slide-wrapper .stage .slide-wrap {
  position: relative;
  display: flex;
}
.slide-wrapper .stage .slide-wrap .slide {
  flex: 25% 0 0;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}